<h1>Final Project</h1>
<h2>
    How to remember your classmates and colleagues<br>
    (<em>especially</em> if you're still with them).
</h2>

<p>
    A picture may be worth a thousand words,<br>
    <strong>but • it • took • words • to • say • that</strong>
    <br>so ______ does, too.
</p>
