<h1>Final Project</h1>
<h2>
    How to remember your classmates and colleagues<br>
    (<em>especially</em> if you're still with them).
</h2>

<p>
    A picture may be worth a thousand words,<br>
    <strong>but • it • took • words • to • say • that</strong>
    <br>so ______ does, too.
</p>

<img src="images/Layla.jpg" alt="Layla the Llama" height="400" width="450">

<table>
    <tr>
        <th>Name:</th>
        <td>Layla</td>
    </tr>
    <tr>
        <th>Birthplace::</th>
        <td>Next to my mom in the barn.</td>
    </tr>
    <tr>
        <th>First Language:</th>
        <td>Portuguese</td>
    </tr>
    <tr>
        <th>Dream Job:</th>
        <td>Executive Assistant</td>
    </tr>
</table>

<ol id="questions-container">
    <li>If you were very fancy, what's the first thing that you would do?</li>
    <div>• Have Art Garfunkel over for dinner.</div>
    <li>
        Favorite quote--be it your own quip or not--attributed accordingly.
    </li>
    <div>• "Someone told me it's all happening at the zoo." --Paul Simon</div>
    <li>
        What is one thing about you that most folks don't know?<br>OR: freestyle it. Expound away (up to 200 characters, that is ; - )
    </li>
    <div>
        • I wish that I had been born in the '60s; it's clearly my decade.
    </div>
</ol>
