<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
    <script src="js/main.js" type="text/javascript"></script>
    <title>framed</title>
</head>
<body>

    <%= yield %>

    <% if current_user %>
        <script>
            document.addEventListener("DOMContentLoaded", prepareLogout);
        </script>
    <% end %>

</body>
</html>
