/** {
    border: 1px solid red;
}*/

html {
    background-color: rgba(0, 0, 0, 0.15);
}

body {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-bottom: 60px;
}

.turquoise, td {
    color: #338EB5;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgb(217, 217, 217);
}

nav ul {
    padding: 0;
    margin: 5px;
}

nav li {
    display: inline;
    list-style: none;
    font-weight: 300;
    padding: 0 10px;
}

h1, h2 {
   font-weight: 300;
   margin: 0;
}

h1 {
    font-size: 60px;
    margin-top: 30px;
}

h2 {
    font-size: 20px;
    margin-top: 10px;
}

img + p {
    letter-spacing: 0.5px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 5px;
}

img {
    margin-top: 20px;
    width: 40%;
    border: 2px solid black;
    box-shadow: 10px 10px 5px #888888;
}

table {
    text-align: left;
    left: 30%;
    position: relative;
    padding: 0;
    margin-top: 8px;
    border-collapse: collapse;
    font-size: 15px;
}

th, td {
    padding-bottom: 5px;
    padding-right: 15px;
	line-height: 22px;
}

td {
    border: 1px solid black;
    background-color: white;
    padding-left: 3px;
    min-width: 275px;
}

th {
    font-family: 'Helvetica Neue';
	font-size: 18px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
}

ol {
    list-style-position: inside;
    text-align: left;
    padding: 0;
    position: relative;
    left: 30%;
    margin-top: 8.5px;
    width: 40%;
}

li {
    font-weight: 500;
    font-size: 17px;
}

.answer {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 8px;
    border: 1px solid black;
    background-color: white;
    font-size: 16px;
}

p {
    font-size: 16px;
    margin-top: 2px;
}

#sign-up {
    margin-bottom: 20px;
}

#new-user-form label {
    float: left;
    width: 48%;
    text-align: right;
    padding-right: 20px;
    line-height: 25px;
}

input {
    height: 17px;
}

#new-user-form input {
    float: left;
    margin-bottom: 8px;
}

#new-user-form input[name-"avatar"] {
    margin-bottom: 25px;
}

#textareas {
    clear: both;
}

#new-user-form textarea {
    width: 300px;
    height: 40px;
}

#new-user-form input[type="submit"] {
    width: 5%;
    margin-left: 47.5%;
}

#logout-submit {
    display: none;
}
