<nav>
    <ul>
        <li><a href="/">Back</a></li>
    </ul>
</nav>

<h1 id="log-in">LOG IN!</h1>

<!-- login html form -->
<form action="/sessions" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="LOG IN">
</form>
